# This is Git's per-user configuration file.
[user]
	name = Daniel Stellmon
	email = Dstellm@gmail.com
[merge]
	tool = nvimdiff
	conflictstyle = diff3
	prompt = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
