@define-color lavender rgba(117, 241, 250, 1);
@define-color Peach  rgba(250, 179, 135, 1);
@define-color dark-9 rgba(24, 24, 27, 1);
@define-color dark-8 rgba(39, 39, 42, 1);
@define-color dark-7 rgba(63, 63, 70, 1);
@define-color dark-6 rgba(82, 82, 91, 1);
@define-color dark-5 rgba(113, 113, 122, 1);

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: CascadiaCode, JetBrainsMono, CodeNewRoman;
  font-size: 15px;
}

window#waybar {
  background-color: @dark-9;
  color: white;
}

.modules-left {
  margin-left: 7px;
}

.modules-right {
  margin-right: 7px;
}

#workspaces button {
  padding: 1px;
  margin: 1px 1px 0px 1px;
  background: transparent;
  border-radius: 1px;
  color: white;
}

#workspaces button.focused{
    background-color: white;
    color: black;
    border-radius: 4px;}

#submap,
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#temperature,
#volume {
  border-radius: 4px;
  padding: 3px 4px;
  background: @dark-8;
  margin: 3px 5px 3px 0px;
}

#submap,
#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  color: black;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 6px;
  min-width: 75px;
  border-radius: 5px;
  background: @dark-7;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

tooltip {
  background: @dark-9;
  border-radius: 5px;
}

tooltip label {
  color: white;
}
